.env
.node_modules
/backend/social_net/node_modules/
/backend/social_net/dist/
/frontend/social_net/node_modules/
/frontend/social_net/.angular/
/frontend/social_net/public_unpacked
/minio-data